# vim swap files
*.swp

# python bytecode files
__pycache__/

# python virtualenv
env/

# python setuptools
*.egg-info/
build/
dist/

# debuild files
.pybuild/
cirrina-big.jpg
debian/debhelper-build-stamp
debian/files
debian/python3-cirrina.debhelper.log
debian/python3-cirrina.postinst.debhelper
debian/python3-cirrina.prerm.debhelper
debian/python3-cirrina.substvars
debian/python3-cirrina/

